<h1>Fiserv Image Project - Harish Prodduturi</h1>

<div *ngFor="let item of imagesArray">
  <div *ngIf="item.media_type === 'video'; else url">
    <div class="gallery">
      <a target="_blank" href="{{item.thumbnail_url}}">
        <img src="{{item.thumbnail_url}}" alt="{{item.title}}" width="600" height="400">
      </a>
      <div class="desc">{{item.title}}</div>
    </div>
  </div>

  <ng-template #url>
    <div class="gallery">
      <a target="_blank" href="{{item.url}}">
        <img src="{{item.url}}" alt="{{item.title}}" width="600" height="400">
      </a>
      <div class="desc">{{item.title}}</div>
    </div>
  </ng-template>
</div>
